<section class="books" id="books">
  <div class="container books-container">
    <h2 class="books-title visually-hidden">Trending books</h2>
    <div class="books-filter-container">
      <div class="books-subtitle-wrapper">
        <p class="books-subtitle">Books</p>
        <p class="books-number-info"></p>
      </div>
      <div class="books-categories">
        <button class="books-categories-title-wrapper">
          <span class="books-categories-title">Categories</span>
          <svg class="open-dropdown-icon" width="24" height="25">
            <use href="../img/sprite.svg#icon-chevron-down"></use>
          </svg>
        </button>
        <ul class="books-categories-list" show-books-categories-list></ul>
      </div>
    </div>
    <div class="books-list-container">
      <ul class="books-list"></ul>
      <button class="books-show-more-button" type="button">Show More</button>
    </div>
  </div>
</section>
