<div class="container container-footer">
  <div class="footer-wrapper">
    <div class="footer-container">
      <a href="./index.html">
        <svg class="footer-logo" width="84" height="36">
          <use href="/img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="footer-nav">
        <li class="footer-item"><a href="#home">Home</a></li>
        <li class="footer-item"><a href="#books">Books</a></li>
        <li class="footer-item"><a href="#feedback">Feedback</a></li>
        <li class="footer-item"><a href="#location">Location</a></li>
      </ul>
    </div>
    <form class="footer-form">
      <label for="email" class="footer-form-label">Join</label>
      <div class="footer-form-row">
        <div class="footer-form-input-wrapper">
          <input
            class="footer-form-input"
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email"
            required
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          />
          <small class="footer-form-note">* Required field</small>
        </div>
        <button type="submit" class="footer-form-btn">Sign Up</button>
      </div>
    </form>
  </div>
  <p class="footer-copy-text">© 2025 Booksy. All rights reserved.</p>
</div>
