<div class="container">
  <nav class="header-nav">
    <a class="header-logo" href="./index.html">
      <svg class="icon">
        <use href="img/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <button type="button" class="navbar-btn is-visible" aria-label="Open menu">
      <svg class="menu-icon" width="24" height="24">
        <use href="img/sprite.svg#icon-menu-alt-right"></use>
      </svg>
    </button>
    <button type="button" class="navbar-close-btn" aria-label="Close menu">
      <svg class="menu-icon close-icon" width="24" height="24">
        <use href="img/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <ul class="navbar">
      <li class="header-nav-list-item"><a href="#hero">Home</a></li>
      <li class="header-nav-list-item"><a href="#books">Books</a></li>
      <li class="header-nav-list-item">
        <a href="#feedbacks">Feedbacks</a>
      </li>
      <li class="header-nav-list-item"><a href="#events">Events</a></li>
      <li class="header-nav-list-item"><a href="#location">Location</a></li>
    </ul>
  </nav>
</div>
