<section
  class="swiper swiper-hero container"
  aria-roledescription="carousel"
  aria-label="Hero slider with special offers"
>
  <ul class="swiper-wrapper" role="list">
    <li class="swiper-slide" role="listitem">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/hero/desk_hero_1.webp    1x,
            /img/hero/desk_hero_1@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="/img/hero/tab_hero_1.webp 1x, /img/hero/tab_hero_1@2x.webp 2x"
        />
        <source
          media="(max-width: 767px)"
          srcset="/img/hero/mob_hero_1.webp 1x, /img/hero/mob_hero_1@2x.webp 2x"
        />
        <img
          src="/img/hero/desk_hero_1.webp"
          alt="slide 1"
          class="hero-image"
        />
      </picture>
      <h2 class="hero-text first">Get 10% off your <br />first order</h2>
      <a href="#books" class="hero-btn">Shop Now!</a>
    </li>
    <li class="swiper-slide" role="listitem">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/hero/desk_hero_2.webp    1x,
            /img/hero/desk_hero_2@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="/img/hero/tab_hero_2.webp 1x, /img/hero/tab_hero_2@2x.webp 2x"
        />
        <source
          media="(max-width: 767px)"
          srcset="/img/hero/mob_hero_2.webp 1x, /img/hero/mob_hero_2@2x.webp 2x"
        />
        <img
          src="/img/hero/desk_hero_2.webp"
          alt="slide 2"
          class="hero-image"
        />
      </picture>
      <h2 class="hero-text second">Save 15% on <br />some books</h2>
      <a href="#books" class="hero-btn">Shop Now!</a>
    </li>
    <li class="swiper-slide" role="listitem">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/hero/desk_hero_3.webp    1x,
            /img/hero/desk_hero_3@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="/img/hero/tab_hero_3.webp 1x, /img/hero/tab_hero_3@2x.webp 2x"
        />
        <source
          media="(max-width: 767px)"
          srcset="/img/hero/mob_hero_3.webp 1x, /img/hero/mob_hero_3@2x.webp 2x"
        />
        <img
          src="/img/hero/desk_hero_3.webp"
          alt="slide 3"
          class="hero-image"
        />
      </picture>
      <h2 class="hero-text third">Summer Sale!<br />Up to -40% discounts</h2>
      <a href="#books" class="hero-btn">Shop Now!</a>
    </li>
    <li class="swiper-slide" role="listitem">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/hero/desk_hero_4.webp    1x,
            /img/hero/desk_hero_4@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="/img/hero/tab_hero_4.webp 1x, /img/hero/tab_hero_4@2x.webp 2x"
        />
        <source
          media="(max-width: 767px)"
          srcset="/img/hero/mob_hero_4.webp 1x, /img/hero/mob_hero_4@2x.webp 2x"
        />
        <img
          src="/img/hero/desk_hero_4.webp"
          alt="slide 4"
          class="hero-image"
        />
      </picture>
      <h2 class="hero-text fourth">
        Last chance to buy our <br />spring bestsellers
      </h2>
      <a href="#books" class="hero-btn">Shop Now!</a>
    </li>
  </ul>
  <div class="hero-controls">
    <h1 class="hero-title">Discover Your Next Great Read Today!</h1>
    <div class="swiper-controls">
      <div class="swiper-button-prev" aria-label="Previous slide">
        <svg class="swiper-prev-icon" width="24" height="24">
          <use href="/img/sprite.svg#icon-left-arrow-alt"></use>
        </svg>
      </div>
      <div class="swiper-button-next" aria-label="Next slide">
        <svg class="swiper-next-icon" width="24" height="24">
          <use href="/img/sprite.svg#icon-right-arrow-alt"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
