<section class="section" id="location">
  <div class="container">
    <div class="top-box">
      <div class="location-description">
        <p class="location-title">Location</p>
        <h2 class="location-header">How to find us</h2>
        <p class="location-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </p>
      </div>
      <div class="location-contacts">
        <ul class="location-contact-list">
          <li class="contact-list-item">
            <svg width="24" height="24">
              <use href="/img/sprite.svg#icon-envelope"></use>
            </svg>
            <div class="contact-list-info">
              <p class="contact-list-name">Email</p>
              <a href="mailto:hello@booksy.com" class="link-email"
                >hello@booksy.com</a
              >
            </div>
          </li>
          <li class="contact-list-item">
            <svg width="24" height="24">
              <use href="/img/sprite.svg#icon-phone"></use>
            </svg>
            <div class="contact-list-info">
              <p class="contact-list-name">Phone</p>
              <a href="tel:+612413043012" class="link-phone"
                >+61 (241) 304-3012</a
              >
            </div>
          </li>
          <li class="contact-list-item">
            <svg width="24" height="24">
              <use href="/img/sprite.svg#icon-map"></use>
            </svg>
            <div class="contact-list-info">
              <p class="contact-list-name">Office</p>
              <address class="address">
                123 Books St, Sydney NSW 2000 AU
              </address>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="location-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d13250.85149280498!2d151.19771271655586!3d-33.87128987904159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s123%20Books%20St%2C%20Sydney%20NSW%202000%20AU!5e0!3m2!1suk!2sro!4v1760200984102!5m2!1suk!2sro"
        width=""
        height=""
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="google-map"
      ></iframe>
    </div>
  </div>
</section>
