.book-modal-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .book-modal-content {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .book-modal-product-info {
    width: 307px;
    flex-shrink: 0;
  }
}

.book-modal-cover-img {
  max-height: 466px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.book-modal-title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #0b0500;
}

.book-modal-author {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #0b0500
}

.book-modal-price {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #0b0500;
}

.book-modal-count {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .book-modal-count {
    margin-bottom: 24px;
  }
}

.book-modal-qty-btn,
.book-count {
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #0b0500;
  border-radius: 4px;
}

.book-modal-qty-btn {
  width: 32px;
  background-color: transparent;
  border: 1px solid #0b0500;
}

.book-count {
  width: 42px;
  background-color: rgb(11 5 0 / .05);
  border: 1px solid rgb(11 5 0 / .15);
  text-align: center;
}

.book-modal-buy-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.book-modal-add-btn,
.book-modal-buy-btn {
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.book-modal-add-btn {
  border: none;
  background-color: #e15d05;
  color: #fff;
}

.book-modal-add-btn:hover,
.book-modal-add-btn:focus {
  background-color: #0b0500;
}

.book-modal-add-btn:active {
  background-color: #b44a04;
}

.book-modal-buy-btn {
  border: 1px solid #0b0500;
  background-color: transparent;
  color: #0b0500;
}

.book-modal-buy-btn:hover,
.book-modal-buy-btn:focus {
  background-color: #ea8d50;
}

.book-modal-buy-btn:active {
  background-color: #dad9d8;
}

/*region Accordion*/
.ac {
  margin: 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(11 5 0 / .15);
}

.ac:first-child {
  border-top: 1px solid rgb(11 5 0 / .15);
}

.ac .ac-trigger {
  position: relative;
  height: 58px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #0b0500;
  padding-left: 0;
}

.ac .ac-trigger::after {
  content: "" !important;
}

.ac .ac-btn-ico {
  width: 24px;
  height: 24px;
  fill: #0b0500;
  position: absolute;
  top: 17px;
  right: 0;
}

.ac.is-active .ac-btn-ico {
  transform: rotate(180deg);
}

.ac .ac-panel .ac-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #0b0500;
  padding: 0;
  margin-bottom: 24px;
}
/*endregion*/