/* scrollbar */
/* Firefox */
/* * {
  scrollbar-width: thin;
  scrollbar-color: #e15d05 rgba(11, 5, 0, 0.15);
} */

/* Chrome, Edge і Safari */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  /* border: 1px solid #fceee6; */
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: rgba(11, 5, 0, 0.15);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #e15d05;
  border-radius: 4px;
}

/*  */

.books {
  padding: 32px 0;
}

.books-filter-container {
  margin-bottom: 24px;
}

.books-subtitle-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.books-subtitle {
  font-weight: 600;
  font-size: 20px;
}

.books-number-info {
  font-size: 14px;
}

.books-categories {
  /* width: 342px; */
  width: 100%;
  position: relative;
}

.books-categories-title-wrapper {
  border: 1px solid rgba(11, 5, 0, 0.15);
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  height: 43px;
  background-color: rgba(11, 5, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.open-dropdown-icon {
  fill: #0b0500;
}

.books-categories-list {
  /* hide category list */
  visibility: hidden;
  opacity: 0;
  /*  */
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  height: 296px;
  width: 100%;
  overflow-y: auto;
  z-index: 1;

  border: 1px solid rgba(11, 5, 0, 0.15);
  border-radius: 4px;
  /* background-color: rgba(11, 5, 0, 0.05); */
  background-color: #f0e2db;
}

.show-books-categories-list {
  visibility: visible;
  opacity: 1;
}

.books-categories-item {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}

.books-categories-item:hover {
  background-color: rgba(11, 5, 0, 0.05);
}

.books-list-container {
  width: 100%;
}

.books-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 24px;
}

.books-image {
  margin-bottom: 16px;
  height: 488px;
  object-fit: cover;
  border-radius: 8px;
}

.book-info {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.book-title-author {
  /* add... */
  overflow: hidden;
  white-space: nowrap;
}

.book-title {
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow: hidden;
}

.book-author {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.book-price {
  font-weight: 600;
  font-size: 20px;
}

.books-learn-more-button {
  cursor: pointer;
  border: 1px solid #0b0500;
  border-radius: 4px;
  padding: 8px 20px;
  /* width: 343px; */
  width: 100%;
  height: 40px;
  font-size: 16px;
  text-align: center;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.books-learn-more-button:hover,
.books-learn-more-button:focus {
  background-color: #ea8d50;
}

.books-show-more-button {
  cursor: pointer;
  display: none;
  /* border: 1px solid #e15d05; */
  border-radius: 4px;
  padding: 12px 24px;
  /* width: 342px; */
  width: 100%;
  height: 48px;
  background-color: #e15d05;
  font-size: 16px;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.books-show-more-button:hover {
  background-color: #0b0500;
}

.books-show-more-button-display {
  display: block;
}

@media screen and (min-width: 768px) {
  .books-filter-container {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-bottom: 32px;
  }

  .books-subtitle-wrapper {
    margin-bottom: 0;
    width: 431px;
  }

  .books-categories {
    width: 249px;
  }

  .books-categories-list {
    height: 338px;
  }

  .books-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px 24px;
  }

  .books-item {
    width: calc((100% - 24px) / 2);
  }

  .books-image {
    height: 484px;
  }

  .books-show-more-button {
    width: 342px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .books-container {
    display: flex;
    gap: 24px;
  }

  .books-filter-container {
    min-width: 308px;
    margin-bottom: 0;
    flex-direction: column;
  }

  .books-subtitle-wrapper {
    width: 100%;
  }

  .books-categories {
    width: 100%;
  }

  .books-categories-title-wrapper {
    display: none;
  }

  .books-categories-list {
    visibility: visible;
    opacity: 1;
    position: unset;
    height: unset;
    background-color: transparent;
    border: none;
    overflow: unset;
  }

  .books-categories-item {
    padding: 8px 0px;
    font-size: 18px;
  }

  .books-item {
    width: calc((100% - 72px) / 4);
  }

  .books-image {
    height: 323px;
  }
}
