.section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.eyebrow {
  display: flex;
  justify-content: flex-start;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
}

.events-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  margin-top: 16px;
  margin-bottom: 16px;
}

.lead {
  line-height: 150%;
  margin-bottom: 32px;
}

.events-swiper-wrapper {
  display: flex;
}

.events-item-content {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  flex-direction: column;
  height: 100%;
}

.events-item-title {
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.01em;
}

.events-item-meta {
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  line-height: 150%;
}

.events-item-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-top: 8px;
  margin-bottom: 16px;
}

.register-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  line-height: 150%;
  background: none;
  border: none;
  padding: 0;
  color: #0b0500;
  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-btn:hover,
.register-btn:focus {
  text-decoration: underline;
  color: #707070;
  fill: #707070;
}

.events-slider-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.events-swiper .events-swiper-dots {
  display: flex;
  gap: 8px;
}

.events-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #bbb;
}

.swiper-pagination-bullet {
  background-color: #bbb !important;
}

.swiper-pagination-bullet-active {
  background-color: #111 !important;
}

.events-swiper-buttons {
  display: flex;
  gap: 16px;
}

.events-btn {
  background: #e15d05;
  border: 1px solid rgba(11, 5, 0, 0.15);
  padding: 12px;
  width: 48px;
  height: 48px;
}

.events-btn:hover {
  background: #fceee6;
}

.events-btn:active {
  background: #5a2502;
}

.swiper-button-disabled {
  /* cursor: not-allowed; */
  background: #e15d05;
  opacity: 0.2;
}

.swiper-button-disabled svg {
  fill: #0b0500;
}

.right-arrow {
  fill: #ffffff;
}

.events-btn:hover .right-arrow {
  fill: #0b0500;
}

.events-btn:active .right-arrow {
  fill: #ffffff;
}

.left-arrow {
  fill: #ffffff;
}

.events-btn:hover .left-arrow {
  fill: #0b0500;
}

.events-btn:active .left-arrow {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .events-swiper-wrapper {
    display: flex;
  }

  .events-swiper-slide img {
    width: 342px;
  }

  .lead {
    width: 560px;
  }

  .events-swiper-dots .events-dot:last-child {
    display: none;
  }

  .events-swiper .events-swiper-slide {
    display: flex;
    flex-direction: column;
    height: 100% !important;
  }

  .events-item-content {
    align-items: baseline;
    display: flex;
    flex-direction: column;
  }

  .register-btn {
    margin-top: auto;
  }

  .events-btn:hover {
    background: #fceee6;
  }
}

@media screen and (min-width: 1440px) {
  .events-swiper-slide img {
    width: 100%;
  }

  .events-swiper-dots {
    display: none;
  }

  .events-swiper-buttons {
    display: none;
  }
}
